@import url(@import url ('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    /*reset*/
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
  }
/*selectores de etiqueta 
  selectores de id
  selectores de clases */


/*todas las paginas estan escritorio/mobile ( menos contacto que tiene las secciones/div, pero hay que ordenarlas para escritorio/mobile )*/


  body{
    background-color: #333e49a3;
  }

  header{
    background-color: #004c96;
  }

  .redesSociales {
    width: 100%;
    padding: 8px 25px;
    border-bottom: 1px solid white;
    text-align: right;
  }

  .redesSociales img {
    width: 27px;
    margin: 4px;
  }

  .container-fluid{
    display: flex !important;
    justify-content: space-between !important;
    align-items: flex-end !important;
  }

  .logo{
    margin: 20px;
    width: 120px;
  }

  .navegacion {
    margin-left: auto !important; 
    display: flex !important; 
    justify-content: space-between !important;  
    align-items: flex-end !important; 
  }

  .menu {
    display: flex !important;
    justify-content: flex-end !important; 
    flex-wrap: wrap !important;
  }

  .menu a {
    padding: 20px !important;
    text-decoration: none !important; 
    color: white !important; 
    text-align: right !important; 
    font-weight: bold !important; 
    text-transform: uppercase !important; 
  }

  .caratulaservicios{
    position: relative;
    width: 100%;
    height:500px;
    display: flex;
    text-align: center;
  } 

  .anchofoto{
    width: 100%;
    object-fit: cover;
  }

  .centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 50px;
    color: white;
  }

  .rowindex{
    display: flex;
    flex-wrap: wrap;
    margin: 20px ;
  }

  .card {
    background-color: transparent;
  }

  .indexfoto1{
    margin-left: 55px;
  }

  .box{
    width: 30% !important;
    margin-left: 30px;
  } 

  .queres{
    text-align: center;
  }

  .card.servicios{
    display: flex;  
    align-items: center;
    flex-wrap: wrap;
  }

  .servicios1{
    margin: 0;
    width: 100%;
    background-color: #001c3784;
  }

  .servicios1text{
    text-align: center;
    vertical-align: middle;
    padding: 6%;
    font-size: x-large;
    color: white;
    font-weight: bold;
    margin: 0;
  }

  .log5{
      justify-content: space-evenly
  }

  .bloque2fotoslog{
    margin-top: 20px;
  }

  .contenedorsomos{
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    margin-block-end: 20px;
  }

  form {
    background-color: white;
    border-radius: 3px;
    color: #999;
    font-size: 0.8em;
    padding: 1px;
    margin: 0 auto;
    width: 300px;
  }

  .center-content{
    text-align: center;
    color: white;
    background-color: transparent;
  }

  .field{
    border: solid 1px #ccc;
    padding: 10px;
    color: white;
  }
  
  input, textarea{
    outline: none;
    width: 280px;
  }
  
  .bottom{
    color: #004c96;
  }

  .field:focus{
    border-color: #18a383;
  }

  .contactob{
    display: flex;
    flex-wrap: wrap;
  }

  .mapascontenedor{
    display: flex;
    width: 50%;
    flex-wrap: wrap; 
    justify-content: center;

  }
  .mapascontenedor p, .mapascontenedor h2{
    text-align: center;
    font-size: x-small;
  }
  .mapa1{
    padding: 20px;
    margin: 10px 10px 10px 10px;
  }
  
  .mapa1 h2, .mapa1 p {
    color: white;
  }

  .mapaimagen{
    width: 270px;
    height: 270px;
  }

  .queres1{
    text-align: center;
    padding: 10px;
  }

  .newsletter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130px;
    background-color: #001c3784;
  }

  .newsletter form {
    width: 50%;
    background-color: transparent;
    display: flex;
    margin: 0;
  }
  
  .newsletter input[type=text] {
    border-radius: 5px;
    width: 330px;
  }
  
  .newsletter input[type=button] {
    width: 100px;
    background-color: #004c96;
    font-weight: bold;
    color: white;
    border: 1px solid #001c37;
  }
    
  .newsletter input[type=button]:hover {
    background-color: white;
    color: #004c96;
    border: 1px solid #001c37;
  }

  .suscribe {
    padding: 60px 29px;
    text-align: center;
    color: white;
  }
  .suscribe h2 {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0;
    color: white;
  }

footer{
    background-color: #004c96;
  }

  .sucursalesfooter{
    font-size: medium;
    padding: 10px;
    text-decoration: underline;
    color: white;
    text-align: center;
    text-transform: uppercase;
  }

  .containerfooter{
    width: 100%;
    height: 130px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    }

  .hijocontainerfooter{
    width: 29%;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    vertical-align: top;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 10px 20px;
    align-self: center;
    }
  .textofooterlogo{
    color: whitesmoke;
    text-align: center;
    text-decoration: underline;
    font: -webkit-small-control;
  }

  .derechos{
    margin: 0;
    font-size: small;
    text-align: center;
    color: white;
  }


@media screen and (max-width: 768px) {

  .servicios1text{
  font-size: unset ;
  }
  .card{
  flex-direction: column;
  }

  .indexcards{
    width: 100%;
  }

  .indexfoto1{
    margin: 0;
  }

  .row{
    flex-direction: column;
  }

  .box{
  width: 100% !important; 
  margin-left: auto !important; 
  }

  .servrelax{
  height: 110px;
  }

  .textlog{
  height: 150px;
  }

  .mapascontenedor{
    flex-direction: column;
  }

  .newsletter{
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  .suscribe{
    width: 100%;
    padding: 10px 25px;
    text-align: center;
  }

  .containerfooter{
    width: 40%;
  }

  .hijocontainerfooter{
    align-self: normal;
    padding: 0cm;
    }
    
  .logo{
  width: 50px;

  }
