
.container_logistica{
  @include flex-wrap;
  margin: 20px ;
  justify-content: space-evenly;
  .container_logistica_box{
    width: 30% !important;
    .container_logistica_box_card{
      @include flex-wrap;
      align-items: center;
      background-color: transparent;  
      .container_logistica_box_card_hijo{
        width: map-get($width, 100);
      }
    }
  } 
  .bloque2fotoslog{
    margin-top: 20px;
    .fotodeposito{
      height: 295px; 
    }
  }
}

