
.container_logistica{
  @include flex-wrap;
  margin: 60px 20px ;
  justify-content: space-evenly;
  .container_logistica_box{
    width: 30% !important;
    .container_logistica_box_card{
      @include flex-wrap;
      align-items: center;
      background-color: $color-blanco; 
      .container_logistica_box_card_hijo{
        width: map-get($width, 100);
      }
    }
    .card-title{
      margin-bottom: 0.5rem;
      font-weight: bold;
      text-transform: uppercase;
    }
  } 
  .bloque2fotoslog{
    margin-top: 20px;
    .fotodeposito{
      height: 292px; 
    }
  }
}

